src/main/mule/bootamphelloworld.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="54a82ac9-876f-42d8-9b39-ab595c233c43" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="bootamphelloworldFlow" doc:id="b1b22b0f-35fa-403a-90d0-9cf1814792eb" >
		<http:listener doc:name="Listener" doc:id="aba928d9-6992-4b55-8d04-dc267e2d5143" config-ref="HTTP_Listener_config" path="/helloworld"/>
		<logger level="INFO" doc:name="Logger" doc:id="9d74d8a4-d7e7-422e-8bdb-93c36d4f3e2e" message='Hello World Program Started with Jenkins and doing Demo'/>
		<set-payload value='#["Hello World Running Successfully with Jenkins for CICD Demo"]' doc:name="Set Payload" doc:id="ab282c20-aaf6-471c-bba7-90cd7e2b639d" />
	</flow>
</mule>
